<template>
  <q-page class="flex flex-center">
    <div class="row q-pa-md" v-if="room">
      <div class="col-12 text-h6">{{ room.name }}</div>
      <div class="col-12 q-mb-sm">
        <!-- <button @click="addPlant">Plant random seed</button>
      <button @click="addScarecrow">Install scarecrow</button> -->
        <!-- <button @click="isPresent = !isPresent">
        is present: {{ isPresent ? "yes" : "no" }}
      </button> -->
      </div>
      <div class="col-2" v-for="element in room.elements" :key="element.id">
        <IslandElement :room="room" :element="element" />
      </div>
      <div class="col-12 q-mt-sm">
        <IslandProperties :room="room" />
      </div>
    </div>
    <div v-else>
      <q-circular-progress indeterminate size="50px" :thickness="0.1" rounded color="primary" track-color="grey-3"
        class="q-ma-md" />
    </div>
  </q-page>
</template>

<script setup>
import { storeToRefs } from "pinia";
import { useRoomStore } from "src/stores/rooms";
import { computed, ref } from "vue";
import { useUsersStore } from "src/stores/users";
import IslandProperties from "src/components/IslandProperties.vue";
import IslandElement from "src/components/IslandElement.vue";
import { provide } from 'vue'

const { user } = storeToRefs(useUsersStore());
const { rooms } = storeToRefs(useRoomStore());

const room = computed(
  () => user.value && rooms.value[user.value.visitingRoom]
);
provide("room", room)
</script>
