<template>
  <q-page>
    <div class="row">
      <div class="col-6 row justify-center">
        <div class="col-12 row q-pa-xl">
          <div class="col-12 text-h4 q-pb-lg">Monde personnel</div>
          <div class="col-12">
            <div class="q-pb-sm">
              Jouez à Floating Gardens comme à un idle game classique.
            </div>
            <div class="text-bold">Avantages:</div>
            <ul>
              <li>
                Aucun compte requis: se comporte comme un idle game classique,
                accessible en un clic. Parfait pour tester rapidement le jeu
                sans devoir créer de compte!
              </li>
              <li>
                Peut s'installer pour jouer hors ligne (PWA: TODO feature)
              </li>
            </ul>
            <div class="text-bold">Inconvénients:</div>
            <ul>
              <li>
                Comme tout jeu par navigateur de ce type, votre partie est aussi
                liée à votre navigateur. Si vous videz le cache de votre
                navigateur ou de ce site, votre partie sera perdue. Pensez à
                faire des backups réguliers (TODO feature)
              </li>
              <li>
                Impossible de jouer à plusieurs. De plus, si vous décidez de
                vouloir jouer en ligne après l'avoir essayé, vous ne pourrez pas
                convertir cette partie
              </li>
            </ul>
          </div>
          <div class="col-12 text-center">
            <q-btn color="primary" @click="router.push({ name: 'soloplay' })">
              Rejoindre votre monde personnel
            </q-btn>
          </div>
        </div>
      </div>
      <div class="col-6 row justify-center">
        <div class="col row q-pa-xl">
          <div class="col-12 text-h4 q-pb-lg">Monde en ligne</div>
          <div class="col-12 row q-col-gutter-sm">
            <q-input
              class="col-12"
              dense
              outlined
              label="Login"
              v-model="login"
            />
            <q-input
              class="col-12"
              v-model="password"
              outlined
              dense
              label="Password"
              :type="isPwd ? 'password' : 'text'"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
            <div class="col-12">
              <q-btn
                style="width: 100%"
                color="primary"
                :disabled="password === '' || login === ''"
                @click="authenticate"
                >Log in</q-btn
              >
            </div>
          </div>
          <div class="col-12 q-pt-md">
            <div class="text-bold">Avantages:</div>
            <ul>
              <li>
                Invitez des amis dans votre partie et jouez à plusieurs, juste
                entre vous
              </li>
              <li>
                Votre partie est sauvegardée automatiquement et accessible
                depuis tous les supports web
              </li>
            </ul>
            <div class="text-bold">Inconvénients:</div>
            <ul>
              <li>Requiert de créer un compte</li>
              <li>Connexion internet obligatoire pour jouer</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        Jouer à l'un n'efface pas la partie de l'autre coté. Vous pouvez à la
        fois avoir une partie solo, et un compte pour jouer en ligne.
      </div>
    </div>
  </q-page>
</template>
<script setup>
import { storeToRefs } from "pinia";
import { engine, setEngineProxy } from "src/engine/index";
import { ref } from "vue";
import { useRouter } from "vue-router";
import { useUsersStore } from "src/stores/users";
const router = useRouter();
const { userId, users, party: userParty } = storeToRefs(useUsersStore());

const login = ref("");
const password = ref("");
const isPwd = ref(true);

function authenticate() {
  setEngineProxy(router);
  engine.authenticate(login.value, password.value);
}
</script>
