<template>
    <div class="text-center">
        <q-spinner-hourglass color="primary" size="2em" />
        {{ currentActionTemplate.label }}
        <span v-if="interactingUser !== user">({{ interactingUser.pseudo }})</span>
        <span>date: {{ formattedCountdown }}</span>
    </div>
</template>
<script setup>
import { computed, inject, ref, onMounted } from "vue";
import { storeToRefs } from 'pinia';
import { useUsersStore } from 'src/stores/users';
import { elementHelpers } from "@floating-gardens/engine";
const { stage } = elementHelpers;
const props = defineProps({ currentAction: Object })
const { user, users } = storeToRefs(useUsersStore())
const element = inject("element")

const interactingUser = computed(() => {
    return Object.values(users.value).find(u => {
        if (!u.currentAction) return false;
        return u.currentAction?.elementId === element.id
    })
})

const currentActionTemplate = computed(() => {
    if (!interactingUser.value) return null;
    const elementTemplate = stage(element);
    return elementTemplate.actions.find(a => a.id === interactingUser.value.currentAction.actionId);
})

// raw countdown
const countdown = ref(props.currentAction.completionDate - Date.now())
onMounted(() => {
    let intervalId = setInterval(() => {
        countdown.value = Math.max(0, props.currentAction.completionDate - Date.now())
        console.log(countdown.value)
        if (countdown.value === 0 && intervalId !== null) {
            clearInterval(intervalId)
            intervalId = null
        }
    }, 500)
})

// Formatted version
// Couldn't use the Intl formatting because it manipulates what it thinks are UTC timestamps and it fucks things up because it takes timezones into account.
const formattedCountdown = computed(() => toHHMMSS(countdown.value))
function toHHMMSS(duration) {
    var sec_num = duration / 1000;
    var hours = Math.floor(sec_num / 3600);
    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
    var seconds = Math.floor(sec_num - (hours * 3600) - (minutes * 60));

    if (hours < 10) { hours = "0" + hours; }
    if (minutes < 10) { minutes = "0" + minutes; }
    if (seconds < 10) { seconds = "0" + seconds; }
    return hours + ':' + minutes + ':' + seconds;
}
</script>