<template>
    <q-btn :disabled="!available" dense size="md" color="secondary" outline @click="startAction">
        {{ action.label }}
        <q-tooltip><span style="filter: none;">{{ action.description }}</span></q-tooltip>
    </q-btn>
</template>
<script setup>
import { ACTIONS } from '@floating-gardens/engine';
import { addActionToHandle } from 'src/engine';
import { computed, inject } from 'vue';

const props = defineProps({ action: Object })
const room = inject("room")
const element = inject("element")

const available = computed(() => {
    const conditionFunc = props.action.condition;
    if (!conditionFunc) return true;
    return conditionFunc({ room, element })
})

function startAction() {
    console.log("room", room.value)
    addActionToHandle({
        actionId: ACTIONS.START_ELEMENT_ACTION,
        data: { roomId: room.value._id, elementId: element.id, actionId: props.action.id },
        cb: () => console.log("Started action!")
    })
}
</script>