<template>
  <div v-if="room" class="q-pl-xs" :style="elementStyle" @click="moveToIsland">
    <div>{{ room.name }}</div>
    <div v-if="otherPeoplePresent.length > 0">
      {{ otherPeoplePresent.length }}<q-icon name="face" />
      <q-tooltip anchor="center right" self="center left">
        {{ otherPeoplePresent.map((u) => u.pseudo).join(", ") }}
      </q-tooltip>
    </div>
  </div>
</template>
<script setup>
import { storeToRefs } from "pinia";
import { useUsersStore } from "src/stores/users";
import { useRoomStore } from "src/stores/rooms";
import { computed } from "vue";
import { addActionToHandle } from "src/engine";
import { ACTIONS } from "@floating-gardens/engine"

const props = defineProps({
  roomId: String,
});
const { user, otherUsers } = storeToRefs(useUsersStore());
const { rooms } = storeToRefs(useRoomStore());

const room = computed(() => rooms.value[props.roomId]);
const otherPeoplePresent = computed(() =>
  otherUsers.value.filter((u) => u.visitingRoom === props.roomId)
);
const isVisiting = computed(() => user.value.visitingRoom === props.roomId)
const elementStyle = computed(() => {
  return {
    border: "1px solid #00a200",
    height: "56px",
    background: isVisiting.value ? "#a2fea2" : "",
    cursor: isVisiting.value ? "" : "pointer"
  }
})

function moveToIsland() {
  if (isVisiting.value) return;
  addActionToHandle({
    actionId: ACTIONS.MOVE_TO_ROOM,
    data: props.roomId,
    cb: () => console.log("Moved to room!")
  })
}
</script>
