<template>
  <transition-group name="properties" tag="div" class="col-12 q-mt-sm">
    <span v-for="propertyAndValue in Object.entries(room.contextProperties)" :key="propertyAndValue[0]"
      style="cursor: pointer" :title="propertyAndValue[1] + ' ' + propertyAndValue[0]">
      {{ propertyAndValue[1] }}
      <div class="property-icon" :style="{
        backgroundColor:
          PROPERTY_ICONS[propertyAndValue[0]]?.background ?? 'white',
      }">
        {{ PROPERTY_ICONS[propertyAndValue[0]]?.icon ?? "?" }}
      </div>
    </span>
  </transition-group>
</template>
<style lang="scss" scoped>
.property-icon {
  outline: 2px solid black;
  width: 22px;
  color: black;
  text-align: center;
  display: inline-block;
}

.properties-enter-active,
.properties-leave-active {
  transition: all 0.3s ease;
}

.properties-enter-from,
.properties-leave-to {
  opacity: 0;
}
</style>
<script setup>
import { PROPERTY_ICONS } from "src/lib/property_icons";
const props = defineProps({ room: Object });
</script>
