<template>
  <q-drawer :model-value="drawerMode !== 'hidden'" bordered :elevated="drawerMode === 'large'" :width="250"
    :breakpoint="0" mini-to-overlay :mini="drawerMode === 'mini'" class="bg-grey-3">
    <q-scroll-area class="fit" v-if="party">
      <div>
        <IslandDrawerLink v-for="roomId in party.rooms" :key="roomId" :room-id="roomId" />
      </div>
    </q-scroll-area>
  </q-drawer>
</template>
<script setup>
import { storeToRefs } from "pinia";
import { useUsersStore } from "src/stores/users";
import IslandDrawerLink from "./IslandDrawerLink.vue";

const props = defineProps({
  drawerMode: String,
});

const { party } = storeToRefs(useUsersStore());
</script>
