<template>
    <div class="room-element">
        <div class="q-pa-sm">
            {{ label(room, element) }}
            <q-tooltip max-width="400px">{{ description(room, element) }}</q-tooltip>

        </div>
        <div class="actions q-pa-sm">
            <div v-if="!interactingUser">
                <ElementActionButton v-for="action in availableActions" :key="action.id" :action="action" />
            </div>
            <ActionCountdown v-else :current-action="interactingUser.currentAction" />
        </div>
    </div>
</template>
<script setup>
import ElementActionButton from "./ElementActionButton.vue"
import { elementHelpers } from "@floating-gardens/engine";
import { computed, provide, inject } from "vue";
import { storeToRefs } from "pinia";
import { useUsersStore } from "src/stores/users";
import ActionCountdown from "./ActionCountdown.vue";

const { stage, label, description } = elementHelpers;
const props = defineProps({ element: Object, })
const room = inject("room")
provide("element", props.element)
const { users } = storeToRefs(useUsersStore())

const availableActions = computed(() => {
    const elementTemplate = stage(props.element);
    return elementTemplate.actions;
})

const interactingUser = computed(() => {
    return Object.values(users.value).find(u => {
        if (!u.currentAction) return false;
        return u.currentAction?.elementId === props.element.id
    })
})

</script>
<style lang="scss" scoped>
.room-element {
    outline: 1px solid rgb(0, 78, 28);
    height: 100%;
}

.actions {
    position: relative;
    width: 100%;
}
</style>