// app global css in SCSS form
body {
  background: rgb(227, 253, 237);
}

.q-tooltip {
  font-size: 14px;
  background-color: beige;
  color: rgb(31, 7, 0);
  box-shadow: 0px 3px 20px grey;
  // box-shadow: 2px 3px 20px grey, 0 0 15px #c7af97 inset;
}
