<template>
  <q-layout view="hHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          <q-btn v-if="user" flat @click="cycleLeftDrawerMode" class="q-mr-lg" icon="grass" label="rooms" />
          Floating Gardens
        </q-toolbar-title>
        <div v-if="user">
          <q-btn flat @click="openChangePseudoDialog">{{ user.pseudo }}</q-btn>
          <q-btn class="q-mr-lg" flat dense size="sm" @click="logOut" icon="logout" />
          <q-btn flat @click="inventoryDrawer = !inventoryDrawer" icon-right="carpenter" label="inventory" />
        </div>
      </q-toolbar>
    </q-header>
    <IslandsDrawer v-if="route.name !== 'login'" :drawer-mode="leftDrawerMode" />
    <q-drawer v-if="route.name !== 'login'" v-model="inventoryDrawer" side="right" :width="250" :breakpoint="0" overlay
      elevated bordered class="bg-grey-3">
      <q-scroll-area class="fit"> Inventory here? </q-scroll-area>
    </q-drawer>

    <q-page-container :style="route.name === 'login' ? {} : { paddingLeft: '56.33px' }">
      <router-view />
    </q-page-container>
  </q-layout>
  <q-dialog v-model="changePseudoDialog">
    <q-card>
      <q-card-section class="text-h6">Rename yourself:</q-card-section>
      <q-card-section>
        <q-input dense outlined v-model="newPseudo"></q-input>
      </q-card-section>
      <q-card-actions align="around">
        <q-btn flat>Cancel</q-btn>
        <q-btn color="primary" @click="changePseudo">Change</q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup>
import { ACTIONS } from "@floating-gardens/engine";
import { storeToRefs } from "pinia";
import { ref } from "vue";
import { useRoute } from "vue-router";
import IslandsDrawer from "./components/IslandsDrawer.vue";
import { addActionToHandle } from "./engine";
import { useUsersStore } from "./stores/users";

const route = useRoute();
const userStore = useUsersStore();
const { party, user } = storeToRefs(userStore);
const { logOut } = userStore;

const leftDrawerModes = ["large", "mini"]; //, "hidden"];
const leftDrawerMode = ref("mini");
const inventoryDrawer = ref(false);
const changePseudoDialog = ref(false);
const newPseudo = ref("");

function openChangePseudoDialog() {
  newPseudo.value = user.value.pseudo;
  changePseudoDialog.value = true;
}

function changePseudo() {
  addActionToHandle({
    actionId: ACTIONS.CHANGE_USER_PSEUDO,
    data: newPseudo.value,
    cb: () => {
      changePseudoDialog.value = false;
      console.log("Pseudo changed!");
    },
  });
}

function cycleLeftDrawerMode() {
  const currentIndex = leftDrawerModes.indexOf(leftDrawerMode.value);
  leftDrawerMode.value =
    leftDrawerModes[(currentIndex + 1) % leftDrawerModes.length];
}
</script>
